@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

$primary-color: #355070;
$background-color: rgb(82, 68, 68);
$font-color: white;
$splash3: #6d597a;
$maintext: min(1.3vh, 3vw);

@mixin width {
    width: 90vw;
    max-width: 600px;
}

@mixin button {
    all: unset;
    height: fit-content;
    padding: 10px;
    outline: solid $splash3 1px;
    cursor: pointer;
    background-color: $primary-color;
    color: $font-color;
    transition: background-color 0.3s ease;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    &:hover {
        background-color: $splash3;
    }
}

* {
    box-sizing: border-box;
    // outline: solid red;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: $primary-color;
    font-family: 'JetBrains Mono', monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $font-color;
}

nav {
    display: flex;
    background-color: black;
    margin-bottom: 10px;
    .nav {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    }

    .nav-section {
        display: inline-block;
        text-transform: uppercase;
    }

    a {
        text-decoration: none;
        color: $font-color;
        font-weight: bold;
        padding: 1em 32px;
    }
    a:hover {
        background: $splash3;
    }
    button {
        all: unset;
        padding: 1rem;
        cursor: pointer;
        &:hover {
            background-color: $splash3;
        }
    }
}

@media only screen and (max-width: 900px) {
    nav {
        background-color: black;
        outline: solid $primary-color 1px;
        .nav {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        .nav-section {
            margin: 4px;
            padding: 5px;
        }
        a {
            padding: 10px;
        }
        button {
            all: unset;
            cursor: pointer;
            padding: 10px;
            margin: 4px;
        }
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 30px;
    height: 100%;

    h1 {
        font-size: 5vh;
        color: $font-color;
        text-align: center;
        width: 80vw;
        margin: 0;
    }

    img {
        @include width();
        border: 5px solid black;
    }

    p {
        font-size: $maintext;
        @include width();
        text-align: justify;
    }
    input {
        display: block;
        padding: 8px;
        border-radius: 8px;
        font-size: $maintext;
        border: 2px solid $splash3;
        margin-bottom: 16px;
    }
    button {
        @include width();
        @include button();
        background-color: black;
    }
}

table {
    font-size: $maintext;
    margin-bottom: 10px;
    padding: 10px;
    border-collapse: collapse;
    @include width();
    th,
    td {
        border: solid black 1px;
        text-align: center;
        padding: 10px;
    }
    th {
        text-transform: uppercase;
        padding: 5px;
        background-color: #6d597a;
    }
    button {
        all: unset;
        padding: 10px;
    }
    .suggestion-table {
        &:hover {
            cursor: pointer;
            background-color: darken($primary-color, 2%);
        }
    }
    .action-table {
        padding: 20px;
        top: 0;
    }
    .hidden {
        display: none;
    }
}

#add-suggestion-form {
    @include width();
    display: grid;
    grid-template-rows: 1fr 20% 20% 1fr;
    h3 {
        font-size: 3vh;
        grid-row-start: 1;
        grid-row-end: 1;
        justify-self: center;
    }
    input {
        display: block;
        padding: 8px;
        border-radius: 8px;
        font-size: $maintext;
        border: 2px solid $splash3;
        margin-bottom: 16px;
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 1;
    }
    .input-count {
        display: block;
        font-size: $maintext;
        justify-self: end;
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 1;
        color: $splash3;
        padding-right: 1vh;
        padding-top: 1vh;
    }

    button {
        @include width();
        @include button();
        background-color: black;
    }
    p {
        font-size: $maintext;
        font-style: italic;
        text-align: center;
        grid-row-start: 3;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
    }
}

.login-to-suggest {
    @include width();
    @include button();
    background-color: black;
}

.auth-link {
    padding-top: 20px;
    color: lighten($splash3, 10%);
}
